In [2]:
import pandas as pd

In [ ]:
#testing

## Quick Object Conversions

In [45]:
baby_names = pd.read_csv("https://data.illinois.gov/api/views/9ean-aer9/rows.csv")
baby_names.head(3)

   Rank  Year         Name  Frequency
0     1  1980      Michael       3886
1     2  1980        Jason       2389
2     3  1980  Christopher       2273

## Export `DataFrame` to CSV File with the `.to_csv()` Method

In [60]:
baby_names = pd.read_csv("https://data.illinois.gov/api/views/9ean-aer9/rows.csv")
baby_names.head(3)

   Rank  Year         Name  Frequency
0     1  1980      Michael       3886
1     2  1980        Jason       2389
2     3  1980  Christopher       2273

In [63]:
baby_names.to_csv("Baby Names.csv", index = False, columns = ["Name", "Frequency"], encoding = "utf-8")

## Import Excel File

In [65]:
df = pd.read_excel("Data - Single Worksheet.xlsx")
df

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [84]:
data = pd.read_excel("Data - Multiple Worksheets.xlsx", sheetname = None)

In [85]:
type(data)

dict

In [86]:
data

{'Data 1':   First Name Last Name           City Gender
 0    Brandon     James          Miami      M
 1       Sean   Hawkins         Denver      M
 2       Judy       Day    Los Angeles      F
 3     Ashley      Ruiz  San Francisco      F
 4  Stephanie     Gomez       Portland      F,
 'Data 2':   First Name Last Name           City Gender
 0     Parker     Power        Raleigh      F
 1    Preston  Prescott   Philadelphia      F
 2    Ronaldo   Donaldo         Bangor      M
 3      Megan   Stiller  San Francisco      M
 4     Bustin    Jieber         Austin      F}

## Export Excel File

In [124]:
baby_names = pd.read_csv("https://data.illinois.gov/api/views/9ean-aer9/rows.csv")
baby_names.head(3)

   Rank  Year         Name  Frequency
0     1  1980      Michael       3886
1     2  1980        Jason       2389
2     3  1980  Christopher       2273

In [131]:
popular = baby_names[baby_names["Frequency"] >= 2000]
unpopular = baby_names[baby_names["Frequency"] < 2000]

In [136]:
excel_file = pd.ExcelWriter("Baby Name Frequencies.xlsx")

In [137]:
popular.to_excel(excel_file, sheet_name = "Popular Names", index = False)
unpopular.to_excel(excel_file, sheet_name = "Unpopular Names", index = False, columns = ["Name", "Frequency"])

In [138]:
excel_file.save()

## Export Excel File

In [5]:
URL = "https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv"
baby_names = pd.read_csv(URL)
baby_names.head(3)

   BRTH_YR    GNDR    ETHCTY         NM  CNT  RNK
0     2011  FEMALE  HISPANIC  GERALDINE   13   75
1     2011  FEMALE  HISPANIC        GIA   21   67
2     2011  FEMALE  HISPANIC     GIANNA   49   42

In [9]:
girls = baby_names[baby_names["GNDR"] == "FEMALE"]
boys = baby_names[baby_names["GNDR"] == "MALE"]

In [11]:
excel_file = pd.ExcelWriter("Baby Names.xlsx")

In [12]:
girls.to_excel(excel_file, sheet_name = "Girls", index = False)
boys.to_excel(excel_file, sheet_name = "Boys", index = False, columns = ["GNDR", "NM", "CNT"])

In [13]:
excel_file.save()