In [1]:
import pandas as pd

## Create A `Series` Object from A Python List

In [2]:
ice_cream = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]

pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [3]:
lottery = [4, 8, 15, 16, 23, 42]

pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
registrations = [True, False, False, False, True]

pd.Series(registrations)

0     True
1    False
2    False
3    False
4     True
dtype: bool

## Create A `Series` Object from a Dictionary

In [5]:
webster = {"Aardvark" : "An animal",
           "Banana" : "A delicious fruit",
           "Cyan" : "A color"}

pd.Series(webster)

Aardvark            An animal
Banana      A delicious fruit
Cyan                  A color
dtype: object

In [18]:
webster.keys()

dict_keys(['Aardvark', 'Banana', 'Cyan'])

In [19]:
webster.values()

dict_values(['An animal', 'A delicious fruit', 'A color'])

In [21]:
webster["Cyan"]

'A color'

## Intro to Attributes

In [13]:
about_me = ["Smart", "Handsome", "Charming", "Brilliant", "Humble"]
s = pd.Series(about_me)
s

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
dtype: object

In [14]:
s.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble'],
      dtype=object)

In [22]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
s.dtype

dtype('O')

## Intro to Methods

In [6]:
prices = [2.99, 4.45, 1.36]
s = pd.Series(prices)
s

0    2.99
1    4.45
2    1.36
dtype: float64

In [7]:
s.sum()

8.8

In [8]:
s.product()

18.095480000000006

In [9]:
s.mean()

2.9333333333333336

In [12]:
s.median()

2.99

## Parameters and Arguments

In [24]:
# Difficulty - Easy, Medium, Hard
# Volume - 1 through 10
# Subtitles - True / False

In [25]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"]

pd.Series(fruits, weekdays)
pd.Series(data = fruits, index = weekdays)
pd.Series(fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [28]:
pd.Series(data = fruits, index = weekdays)

Monday           Apple
Tuesday         Orange
Wednesday         Plum
Thursday         Grape
Friday       Blueberry
dtype: object

In [22]:
fruits = ["Apple", "Orange", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

pd.Series(data = fruits, index = weekdays)

Monday            Apple
Tuesday          Orange
Wednesday          Plum
Thursday          Grape
Friday        Blueberry
Monday       Watermelon
dtype: object

## Import `Series` with the `read_csv` Method

In [30]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [32]:
pokemon.head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

In [34]:
google = pd.read_csv("google_stock_price.csv")
google

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

## The `.head()` and `.tail()` Methods

In [36]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [36]:
pokemon.head(1)

0    Bulbasaur
Name: Pokemon, dtype: object

In [40]:
google.tail(1)

3011    782.22
Name: Stock Price, dtype: float64

## Python Built-In Functions

In [37]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [38]:
len(pokemon)
len(google)

3012

In [39]:
type(pokemon)

pandas.core.frame.DataFrame

In [ ]:
dir(pokemon)

In [41]:
sorted(pokemon)
sorted(google)

['Stock Price']

In [42]:
list(pokemon)

['Pokemon']

In [43]:
dict(google)

{'Stock Price': 0        50.12
 1        54.10
 2        54.65
 3        52.38
 4        52.95
          ...
 3007    772.88
 3008    771.07
 3009    773.18
 3010    771.61
 3011    782.22
 Name: Stock Price, Length: 3012, dtype: float64}

In [64]:
max(pokemon)
min(pokemon)

'Abomasnow'

In [65]:
max(google)

782.22000000000003

In [66]:
min(google)

49.950000000000003

## More `Series` Attributes

In [75]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [44]:
pokemon.values
google.values

array([[ 50.12],
       [ 54.1 ],
       [ 54.65],
       ...,
       [773.18],
       [771.61],
       [782.22]])

In [79]:
pokemon.index
google.index

RangeIndex(start=0, stop=3012, step=1)

In [47]:
pokemon.dtypes
google.dtypes

Stock Price    float64
dtype: object

In [85]:
pokemon.ndim
google.ndim

1

In [87]:
pokemon.shape
google.shape

(3012,)

In [89]:
pokemon.size
google.size

3012

In [93]:
pokemon.name = "Pocket Monsters"

In [94]:
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pocket Monsters, dtype: object

## The `.sort_values()` Method

In [95]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [97]:
pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [51]:
pokemon.tail()

       Pokemon
716    Yveltal
717    Zygarde
718    Diancie
719      Hoopa
720  Volcanion

In [53]:
pokemon.sort_values(by=['Pokemon']).tail(10)

       Pokemon
334   Zangoose
144     Zapdos
522  Zebstrika
643     Zekrom
262  Zigzagoon
570    Zoroark
569      Zorua
40       Zubat
633   Zweilous
717    Zygarde

In [55]:
google.head(5)

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95

In [56]:
google.sort_values(by=['Stock Price']).head(5)

    Stock Price
11        49.95
9         50.07
0         50.12
10        50.70
12        50.74

In [57]:
google

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

## The `inplace` Parameter

In [112]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [59]:
google.head(3)

   Stock Price
0        50.12
1        54.10
2        54.65

In [115]:
google = google.sort_values()

In [118]:
google.head(3)

11    49.95
9     50.07
0     50.12
Name: Stock Price, dtype: float64

In [60]:
google.sort_values(by=['Stock Price']).head(5)

    Stock Price
11        49.95
9         50.07
0         50.12
10        50.70
12        50.74

In [120]:
google.head(3)

3011    782.22
2859    776.60
3009    773.18
Name: Stock Price, dtype: float64

## The `.sort_index()` Method

In [61]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [65]:
pokemon.sort_values(by=['Pokemon'], inplace = True)

In [67]:
pokemon.head(5)

       Pokemon
459  Abomasnow
62        Abra
358      Absol
616   Accelgor
680  Aegislash

In [138]:
pokemon.sort_index(ascending = True, inplace = True)

## Python's `in` Keyword

In [149]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [151]:
100 in [1, 2, 3, 4, 5]

False

In [152]:
pokemon.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [68]:
100 in pokemon
100 in pokemon.index

True

In [156]:
pokemon.index

RangeIndex(start=0, stop=721, step=1)

In [161]:
"Digimon" in pokemon.values

False

## Extract Values by Index Position

In [70]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
google = pd.read_csv("google_stock_price.csv")

In [71]:
pokemon.head(3)

     Pokemon
0  Bulbasaur
1    Ivysaur
2   Venusaur

In [150]:
pokemon.head(4)


# pokemon[[100, 200, 300]]

# pokemon[50:101]

# pokemon[:50]

# pokemon[-30:]

# pokemon[-30 : -10]

             Type
Pokemon
Bulbasaur   Grass
Ivysaur     Grass
Venusaur    Grass
Charmander   Fire

In [94]:
pokemon

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [88]:
guitars_dict = {
    "Fender Telecaster": "Baby Blue",
    "Gibson Les Paul": "Sunburst",
    "ESP Eclipse": "Dark Green"
}

In [90]:
guitars = pd.Series(guitars_dict)
 
# Access the value for the index position of 0 within the "guitars" Series.
# Assign the value to a "fender_color" variable.
fender_color = guitars[0]

In [91]:
fender_color

'Baby Blue'

In [93]:
guitars

Fender Telecaster     Baby Blue
Gibson Les Paul        Sunburst
ESP Eclipse          Dark Green
dtype: object

## Extract Values by Index Label

In [176]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon")
pokemon.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [178]:
pokemon[[100, 134]]

Pokemon
Electrode    Electric
Jolteon      Electric
Name: Type, dtype: object

In [185]:
pokemon["Bulbasaur"]
pokemon["Ditto"]
pokemon[["Charizard", "Jolteon"]]
pokemon[["Blastoise", "Venusaur", "Meowth"]]

pokemon[["Pikachu", "Digimon"]]

pokemon["Bulbasaur" : "Pikachu"]

Pokemon
Bulbasaur        Grass
Ivysaur          Grass
Venusaur         Grass
Charmander        Fire
Charmeleon        Fire
Charizard         Fire
Squirtle         Water
Wartortle        Water
Blastoise        Water
Caterpie           Bug
Metapod            Bug
Butterfree         Bug
Weedle             Bug
Kakuna             Bug
Beedrill           Bug
Pidgey          Normal
Pidgeotto       Normal
Pidgeot         Normal
Rattata         Normal
Raticate        Normal
Spearow         Normal
Fearow          Normal
Ekans           Poison
Arbok           Poison
Pikachu       Electric
Name: Type, dtype: object

## The `.get()` Method on a `Series`

In [115]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon")
pokemon.sort_index(inplace = True)
pokemon.head(3)

              Type
Pokemon
Abomasnow    Grass
Abra       Psychic
Absol         Dark

In [110]:
a = pokemon.get("Abomasnow")

In [111]:
print(a)

None

In [123]:
print(pokemon.get(0))

None

In [124]:
pokemon.head(5)

              Type
Pokemon
Abomasnow    Grass
Abra       Psychic
Absol         Dark
Accelgor       Bug
Aegislash    Steel

In [119]:
pokemon.get(key = ["Moltres", "Meowth"])

In [120]:
pokemon.get(key = "Charizard", default = "This is not a Pokemon")

'This is not a Pokemon'

In [121]:
pokemon.get(key = "jksajk", default = "This is not a Pokemon")

'This is not a Pokemon'

In [101]:
pokemon.get(key = "Grass", default = "This is not a Pokemon")

'This is not a Pokemon'

## Math Methods on `Series` Objects

In [219]:
google = pd.read_csv("google_stock_price.csv")
google.head(3)

0    50.12
1    54.10
2    54.65
Name: Stock Price, dtype: float64

In [220]:
google.count()

3012

In [221]:
len(google)

3012

In [222]:
google.sum()

1006942.0000000002

In [223]:
google.mean()

334.31009296148744

In [224]:
google.sum() / google.count()

334.31009296148744

In [225]:
google.std()

173.18720477113106

In [226]:
google.min()

49.950000000000003

In [227]:
google.max()

782.22000000000003

In [228]:
google.median()

283.315

In [229]:
google.mode()

0    291.21
dtype: float64

In [230]:
google.describe()

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

## The `.idxmax()` and `.idxmin()` Methods

In [125]:
google = pd.read_csv("google_stock_price.csv")

In [126]:
google.max()

Stock Price    782.22
dtype: float64

In [127]:
google.min()

Stock Price    49.95
dtype: float64

In [129]:
google.idxmax()

Stock Price    3011
dtype: int64

In [130]:
google[3011]

<class 'KeyError'>: 3011

In [131]:
google.idxmin()

Stock Price    11
dtype: int64

In [238]:
google[11]

49.950000000000003

In [132]:
google[google.idxmin()]

<class 'KeyError'>: "None of [Int64Index([11], dtype='int64')] are in the [columns]"

## The `.value_counts()` Method

In [133]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon")
pokemon.head(3)

            Type
Pokemon
Bulbasaur  Grass
Ivysaur    Grass
Venusaur   Grass

In [134]:
pokemon.value_counts().sum()

721

In [154]:
pokemon.describe()

         Type
count     721
unique     18
top     Water
freq      105

In [151]:
pokemon.count()

Type    721
dtype: int64

In [152]:
pokemon.value_counts(ascending = True)

Type
Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Dark         28
Poison       28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
dtype: int64

## The `.apply()` Method

In [138]:
google = pd.read_csv("google_stock_price.csv")
google.head(6)

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90

In [139]:
def classify_performance(number):
    if number < 300:
        return "OK"
    elif number >= 300 and number < 650:
        return "Satisfactory"
    else:
        return "Incredible!"

In [140]:
google.apply(classify_performance).tail()

<class 'ValueError'>: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [141]:
google.head(6)

   Stock Price
0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90

In [142]:
google.apply(lambda stock_price : stock_price + 1)

      Stock Price
0           51.12
1           55.10
2           55.65
3           53.38
4           53.95
...           ...
3007       773.88
3008       772.07
3009       774.18
3010       772.61
3011       783.22

[3012 rows x 1 columns]

## The `.map()` Method

In [143]:
pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_names.head(3)

     Pokemon
0  Bulbasaur
1    Ivysaur
2   Venusaur

In [144]:
pokemon_types = pd.read_csv("pokemon.csv", index_col = "Pokemon")
pokemon_types.head(3)

            Type
Pokemon
Bulbasaur  Grass
Ivysaur    Grass
Venusaur   Grass

In [146]:
pokemon_names.Map(pokemon_types)

<class 'AttributeError'>: 'DataFrame' object has no attribute 'Map'

In [147]:
pokemon_names = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_types = pd.read_csv("pokemon.csv", index_col = "Pokemon").to_dict()

In [148]:
pokemon_names.head()

      Pokemon
0   Bulbasaur
1     Ivysaur
2    Venusaur
3  Charmander
4  Charmeleon

In [149]:
pokemon_types

{'Type': {'Bulbasaur': 'Grass',
  'Ivysaur': 'Grass',
  'Venusaur': 'Grass',
  'Charmander': 'Fire',
  'Charmeleon': 'Fire',
  'Charizard': 'Fire',
  'Squirtle': 'Water',
  'Wartortle': 'Water',
  'Blastoise': 'Water',
  'Caterpie': 'Bug',
  'Metapod': 'Bug',
  'Butterfree': 'Bug',
  'Weedle': 'Bug',
  'Kakuna': 'Bug',
  'Beedrill': 'Bug',
  'Pidgey': 'Normal',
  'Pidgeotto': 'Normal',
  'Pidgeot': 'Normal',
  'Rattata': 'Normal',
  'Raticate': 'Normal',
  'Spearow': 'Normal',
  'Fearow': 'Normal',
  'Ekans': 'Poison',
  'Arbok': 'Poison',
  'Pikachu': 'Electric',
  'Raichu': 'Electric',
  'Sandshrew': 'Ground',
  'Sandslash': 'Ground',
  'Nidoran': 'Poison',
  'Nidorina': 'Poison',
  'Nidoqueen': 'Poison',
  'Nidoran♂': 'Poison',
  'Nidorino': 'Poison',
  'Nidoking': 'Poison',
  'Clefairy': 'Fairy',
  'Clefable': 'Fairy',
  'Vulpix': 'Fire',
  'Ninetales': 'Fire',
  'Jigglypuff': 'Normal',
  'Wigglytuff': 'Normal',
  'Zubat': 'Poison',
  'Golbat': 'Poison',
  'Oddish': 'Grass',
  'Gloom': 'Grass',
  'Vileplume': 'Grass',
  'Paras': 'Bug',
  'Parasect': 'Bug',
  'Venonat': 'Bug',
  'Venomoth': 'Bug',
  'Diglett': 'Ground',
  'Dugtrio': 'Ground',
  'Meowth': 'Normal',
  'Persian': 'Normal',
  'Psyduck': 'Water',
  'Golduck': 'Water',
  'Mankey': 'Fighting',
  'Primeape': 'Fighting',
  'Growlithe': 'Fire',
  'Arcanine': 'Fire',
  'Poliwag': 'Water',
  'Poliwhirl': 'Water',
  'Poliwrath': 'Water',
  'Abra': 'Psychic',
  'Kadabra': 'Psychic',
  'Alakazam': 'Psychic',
  'Machop': 'Fighting',
  'Machoke': 'Fighting',
  'Machamp': 'Fighting',
  'Bellsprout': 'Grass',
  'Weepinbell': 'Grass',
  'Victreebel': 'Grass',
  'Tentacool': 'Water',
  'Tentacruel': 'Water',
  'Geodude': 'Rock',
  'Graveler': 'Rock',
  'Golem': 'Rock',
  'Ponyta': 'Fire',
  'Rapidash': 'Fire',
  'Slowpoke': 'Water',
  'Slowbro': 'Water',
  'Magnemite': 'Electric',
  'Magneton': 'Electric',
  "Farfetch'd": 'Normal',
  'Doduo': 'Normal',
  'Dodrio': 'Normal',
  'Seel': 'Water',
  'Dewgong': 'Water',
  'Grimer': 'Poison',
  'Muk': 'Poison',
  'Shellder': 'Water',
  'Cloyster': 'Water',
  'Gastly': 'Ghost',
  'Haunter': 'Ghost',
  'Gengar': 'Ghost',
  'Onix': 'Rock',
  'Drowzee': 'Psychic',
  'Hypno': 'Psychic',
  'Krabby': 'Water',
  'Kingler': 'Water',
  'Voltorb': 'Electric',
  'Electrode': 'Electric',
  'Exeggcute': 'Grass',
  'Exeggutor': 'Grass',
  'Cubone': 'Ground',
  'Marowak': 'Ground',
  'Hitmonlee': 'Fighting',
  'Hitmonchan': 'Fighting',
  'Lickitung': 'Normal',
  'Koffing': 'Poison',
  'Weezing': 'Poison',
  'Rhyhorn': 'Ground',
  'Rhydon': 'Ground',
  'Chansey': 'Normal',
  'Tangela': 'Grass',
  'Kangaskhan': 'Normal',
  'Horsea': 'Water',
  'Seadra': 'Water',
  'Goldeen': 'Water',
  'Seaking': 'Water',
  'Staryu': 'Water',
  'Starmie': 'Water',
  'Mr. Mime': 'Psychic',
  'Scyther': 'Bug',
  'Jynx': 'Ice',
  'Electabuzz': 'Electric',
  'Magmar': 'Fire',
  'Pinsir': 'Bug',
  'Tauros': 'Normal',
  'Magikarp': 'Water',
  'Gyarados': 'Water',
  'Lapras': 'Water',
  'Ditto': 'Normal',
  'Eevee': 'Normal',
  'Vaporeon': 'Water',
  'Jolteon': 'Electric',
  'Flareon': 'Fire',
  'Porygon': 'Normal',
  'Omanyte': 'Rock',
  'Omastar': 'Rock',
  'Kabuto': 'Rock',
  'Kabutops': 'Rock',
  'Aerodactyl': 'Rock',
  'Snorlax': 'Normal',
  'Articuno': 'Ice',
  'Zapdos': 'Electric',
  'Moltres': 'Fire',
  'Dratini': 'Dragon',
  'Dragonair': 'Dragon',
  'Dragonite': 'Dragon',
  'Mewtwo': 'Psychic',
  'Mew': 'Psychic',
  'Chikorita': 'Grass',
  'Bayleef': 'Grass',
  'Meganium': 'Grass',
  'Cyndaquil': 'Fire',
  'Quilava': 'Fire',
  'Typhlosion': 'Fire',
  'Totodile': 'Water',
  'Croconaw': 'Water',
  'Feraligatr': 'Water',
  'Sentret': 'Normal',
  'Furret': 'Normal',
  'Hoothoot': 'Normal',
  'Noctowl': 'Normal',
  'Ledyba': 'Bug',
  'Ledian': 'Bug',
  'Spinarak': 'Bug',
  'Ariados': 'Bug',
  'Crobat': 'Poison',
  'Chinchou': 'Water',
  'Lanturn': 'Water',
  'Pichu': 'Electric',
  'Cleffa': 'Fairy',
  'Igglybuff': 'Normal',
  'Togepi': 'Fairy',
  'Togetic': 'Fairy',
  'Natu': 'Psychic',
  'Xatu': 'Psychic',
  'Mareep': 'Electric',
  'Flaaffy': 'Electric',
  'Ampharos': 'Electric',
  'Bellossom': 'Grass',
  'Marill': 'Water',
  'Azumarill': 'Water',
  'Sudowoodo': 'Rock',
  'Politoed': 'Water',
  'Hoppip': 'Grass',
  'Skiploom': 'Grass',
  'Jumpluff': 'Grass',
  'Aipom': 'Normal',
  'Sunkern': 'Grass',
  'Sunflora': 'Grass',
  'Yanma': 'Bug',
  'Wooper': 'Water',
  'Quagsire': 'Water',
  'Espeon': 'Psychic',
  'Umbreon': 'Dark',
  'Murkrow': 'Dark',
  'Slowking': 'Water',
  'Misdreavus': 'Ghost',
  'Unown': 'Psychic',
  'Wobbuffet': 'Psychic',
  'Girafarig': 'Normal',
  'Pineco': 'Bug',
  'Forretress': 'Bug',
  'Dunsparce': 'Normal',
  'Gligar': 'Ground',
  'Steelix': 'Steel',
  'Snubbull': 'Fairy',
  'Granbull': 'Fairy',
  'Qwilfish': 'Water',
  'Scizor': 'Bug',
  'Shuckle': 'Bug',
  'Heracross': 'Bug',
  'Sneasel': 'Dark',
  'Teddiursa': 'Normal',
  'Ursaring': 'Normal',
  'Slugma': 'Fire',
  'Magcargo': 'Fire',
  'Swinub': 'Ice',
  'Piloswine': 'Ice',
  'Corsola': 'Water',
  'Remoraid': 'Water',
  'Octillery': 'Water',
  'Delibird': 'Ice',
  'Mantine': 'Water',
  'Skarmory': 'Steel',
  'Houndour': 'Dark',
  'Houndoom': 'Dark',
  'Kingdra': 'Water',
  'Phanpy': 'Ground',
  'Donphan': 'Ground',
  'Porygon2': 'Normal',
  'Stantler': 'Normal',
  'Smeargle': 'Normal',
  'Tyrogue': 'Fighting',
  'Hitmontop': 'Fighting',
  'Smoochum': 'Ice',
  'Elekid': 'Electric',
  'Magby': 'Fire',
  'Miltank': 'Normal',
  'Blissey': 'Normal',
  'Raikou': 'Electric',
  'Entei': 'Fire',
  'Suicune': 'Water',
  'Larvitar': 'Rock',
  'Pupitar': 'Rock',
  'Tyranitar': 'Rock',
  'Lugia': 'Psychic',
  'Ho-oh': 'Fire',
  'Celebi': 'Psychic',
  'Treecko': 'Grass',
  'Grovyle': 'Grass',
  'Sceptile': 'Grass',
  'Torchic': 'Fire',
  'Combusken': 'Fire',
  'Blaziken': 'Fire',
  'Mudkip': 'Water',
  'Marshtomp': 'Water',
  'Swampert': 'Water',
  'Poochyena': 'Dark',
  'Mightyena': 'Dark',
  'Zigzagoon': 'Normal',
  'Linoone': 'Normal',
  'Wurmple': 'Bug',
  'Silcoon': 'Bug',
  'Beautifly': 'Bug',
  'Cascoon': 'Bug',
  'Dustox': 'Bug',
  'Lotad': 'Water',
  'Lombre': 'Water',
  'Ludicolo': 'Water',
  'Seedot': 'Grass',
  'Nuzleaf': 'Grass',
  'Shiftry': 'Grass',
  'Taillow': 'Normal',
  'Swellow': 'Normal',
  'Wingull': 'Water',
  'Pelipper': 'Water',
  'Ralts': 'Psychic',
  'Kirlia': 'Psychic',
  'Gardevoir': 'Psychic',
  'Surskit': 'Bug',
  'Masquerain': 'Bug',
  'Shroomish': 'Grass',
  'Breloom': 'Grass',
  'Slakoth': 'Normal',
  'Vigoroth': 'Normal',
  'Slaking': 'Normal',
  'Nincada': 'Bug',
  'Ninjask': 'Bug',
  'Shedinja': 'Bug',
  'Whismur': 'Normal',
  'Loudred': 'Normal',
  'Exploud': 'Normal',
  'Makuhita': 'Fighting',
  'Hariyama': 'Fighting',
  'Azurill': 'Normal',
  'Nosepass': 'Rock',
  'Skitty': 'Normal',
  'Delcatty': 'Normal',
  'Sableye': 'Dark',
  'Mawile': 'Steel',
  'Aron': 'Steel',
  'Lairon': 'Steel',
  'Aggron': 'Steel',
  'Meditite': 'Fighting',
  'Medicham': 'Fighting',
  'Electrike': 'Electric',
  'Manectric': 'Electric',
  'Plusle': 'Electric',
  'Minun': 'Electric',
  'Volbeat': 'Bug',
  'Illumise': 'Bug',
  'Roselia': 'Grass',
  'Gulpin': 'Poison',
  'Swalot': 'Poison',
  'Carvanha': 'Water',
  'Sharpedo': 'Water',
  'Wailmer': 'Water',
  'Wailord': 'Water',
  'Numel': 'Fire',
  'Camerupt': 'Fire',
  'Torkoal': 'Fire',
  'Spoink': 'Psychic',
  'Grumpig': 'Psychic',
  'Spinda': 'Normal',
  'Trapinch': 'Ground',
  'Vibrava': 'Ground',
  'Flygon': 'Ground',
  'Cacnea': 'Grass',
  'Cacturne': 'Grass',
  'Swablu': 'Normal',
  'Altaria': 'Dragon',
  'Zangoose': 'Normal',
  'Seviper': 'Poison',
  'Lunatone': 'Rock',
  'Solrock': 'Rock',
  'Barboach': 'Water',
  'Whiscash': 'Water',
  'Corphish': 'Water',
  'Crawdaunt': 'Water',
  'Baltoy': 'Ground',
  'Claydol': 'Ground',
  'Lileep': 'Rock',
  'Cradily': 'Rock',
  'Anorith': 'Rock',
  'Armaldo': 'Rock',
  'Feebas': 'Water',
  'Milotic': 'Water',
  'Castform': 'Normal',
  'Kecleon': 'Normal',
  'Shuppet': 'Ghost',
  'Banette': 'Ghost',
  'Duskull': 'Ghost',
  'Dusclops': 'Ghost',
  'Tropius': 'Grass',
  'Chimecho': 'Psychic',
  'Absol': 'Dark',
  'Wynaut': 'Psychic',
  'Snorunt': 'Ice',
  'Glalie': 'Ice',
  'Spheal': 'Ice',
  'Sealeo': 'Ice',
  'Walrein': 'Ice',
  'Clamperl': 'Water',
  'Huntail': 'Water',
  'Gorebyss': 'Water',
  'Relicanth': 'Water',
  'Luvdisc': 'Water',
  'Bagon': 'Dragon',
  'Shelgon': 'Dragon',
  'Salamence': 'Dragon',
  'Beldum': 'Steel',
  'Metang': 'Steel',
  'Metagross': 'Steel',
  'Regirock': 'Rock',
  'Regice': 'Ice',
  'Registeel': 'Steel',
  'Latias': 'Dragon',
  'Latios': 'Dragon',
  'Kyogre': 'Water',
  'Groudon': 'Ground',
  'Rayquaza': 'Dragon',
  'Jirachi': 'Steel',
  'Deoxys': 'Psychic',
  'Turtwig': 'Grass',
  'Grotle': 'Grass',
  'Torterra': 'Grass',
  'Chimchar': 'Fire',
  'Monferno': 'Fire',
  'Infernape': 'Fire',
  'Piplup': 'Water',
  'Prinplup': 'Water',
  'Empoleon': 'Water',
  'Starly': 'Normal',
  'Staravia': 'Normal',
  'Staraptor': 'Normal',
  'Bidoof': 'Normal',
  'Bibarel': 'Normal',
  'Kricketot': 'Bug',
  'Kricketune': 'Bug',
  'Shinx': 'Electric',
  'Luxio': 'Electric',
  'Luxray': 'Electric',
  'Budew': 'Grass',
  'Roserade': 'Grass',
  'Cranidos': 'Rock',
  'Rampardos': 'Rock',
  'Shieldon': 'Rock',
  'Bastiodon': 'Rock',
  'Burmy': 'Bug',
  'Wormadam': 'Bug',
  'Mothim': 'Bug',
  'Combee': 'Bug',
  'Vespiquen': 'Bug',
  'Pachirisu': 'Electric',
  'Buizel': 'Water',
  'Floatzel': 'Water',
  'Cherubi': 'Grass',
  'Cherrim': 'Grass',
  'Shellos': 'Water',
  'Gastrodon': 'Water',
  'Ambipom': 'Normal',
  'Drifloon': 'Ghost',
  'Drifblim': 'Ghost',
  'Buneary': 'Normal',
  'Lopunny': 'Normal',
  'Mismagius': 'Ghost',
  'Honchkrow': 'Dark',
  'Glameow': 'Normal',
  'Purugly': 'Normal',
  'Chingling': 'Psychic',
  'Stunky': 'Poison',
  'Skuntank': 'Poison',
  'Bronzor': 'Steel',
  'Bronzong': 'Steel',
  'Bonsly': 'Rock',
  'Mime Jr.': 'Psychic',
  'Happiny': 'Normal',
  'Chatot': 'Normal',
  'Spiritomb': 'Ghost',
  'Gible': 'Dragon',
  'Gabite': 'Dragon',
  'Garchomp': 'Dragon',
  'Munchlax': 'Normal',
  'Riolu': 'Fighting',
  'Lucario': 'Fighting',
  'Hippopotas': 'Ground',
  'Hippowdon': 'Ground',
  'Skorupi': 'Poison',
  'Drapion': 'Poison',
  'Croagunk': 'Poison',
  'Toxicroak': 'Poison',
  'Carnivine': 'Grass',
  'Finneon': 'Water',
  'Lumineon': 'Water',
  'Mantyke': 'Water',
  'Snover': 'Grass',
  'Abomasnow': 'Grass',
  'Weavile': 'Dark',
  'Magnezone': 'Electric',
  'Lickilicky': 'Normal',
  'Rhyperior': 'Ground',
  'Tangrowth': 'Grass',
  'Electivire': 'Electric',
  'Magmortar': 'Fire',
  'Togekiss': 'Fairy',
  'Yanmega': 'Bug',
  'Leafeon': 'Grass',
  'Glaceon': 'Ice',
  'Gliscor': 'Ground',
  'Mamoswine': 'Ice',
  'Porygon-Z': 'Normal',
  'Gallade': 'Psychic',
  'Probopass': 'Rock',
  'Dusknoir': 'Ghost',
  'Froslass': 'Ice',
  'Rotom': 'Electric',
  'Uxie': 'Psychic',
  'Mesprit': 'Psychic',
  'Azelf': 'Psychic',
  'Dialga': 'Steel',
  'Palkia': 'Water',
  'Heatran': 'Fire',
  'Regigigas': 'Normal',
  'Giratina': 'Ghost',
  'Cresselia': 'Psychic',
  'Phione': 'Water',
  'Manaphy': 'Water',
  'Darkrai': 'Dark',
  'Shaymin': 'Grass',
  'Arceus': 'Normal',
  'Victini': 'Psychic',
  'Snivy': 'Grass',
  'Servine': 'Grass',
  'Serperior': 'Grass',
  'Tepig': 'Fire',
  'Pignite': 'Fire',
  'Emboar': 'Fire',
  'Oshawott': 'Water',
  'Dewott': 'Water',
  'Samurott': 'Water',
  'Patrat': 'Normal',
  'Watchog': 'Normal',
  'Lillipup': 'Normal',
  'Herdier': 'Normal',
  'Stoutland': 'Normal',
  'Purrloin': 'Dark',
  'Liepard': 'Dark',
  'Pansage': 'Grass',
  'Simisage': 'Grass',
  'Pansear': 'Fire',
  'Simisear': 'Fire',
  'Panpour': 'Water',
  'Simipour': 'Water',
  'Munna': 'Psychic',
  'Musharna': 'Psychic',
  'Pidove': 'Normal',
  'Tranquill': 'Normal',
  'Unfezant': 'Normal',
  'Blitzle': 'Electric',
  'Zebstrika': 'Electric',
  'Roggenrola': 'Rock',
  'Boldore': 'Rock',
  'Gigalith': 'Rock',
  'Woobat': 'Psychic',
  'Swoobat': 'Psychic',
  'Drilbur': 'Ground',
  'Excadrill': 'Ground',
  'Audino': 'Normal',
  'Timburr': 'Fighting',
  'Gurdurr': 'Fighting',
  'Conkeldurr': 'Fighting',
  'Tympole': 'Water',
  'Palpitoad': 'Water',
  'Seismitoad': 'Water',
  'Throh': 'Fighting',
  'Sawk': 'Fighting',
  'Sewaddle': 'Bug',
  'Swadloon': 'Bug',
  'Leavanny': 'Bug',
  'Venipede': 'Bug',
  'Whirlipede': 'Bug',
  'Scolipede': 'Bug',
  'Cottonee': 'Grass',
  'Whimsicott': 'Grass',
  'Petilil': 'Grass',
  'Lilligant': 'Grass',
  'Basculin': 'Water',
  'Sandile': 'Ground',
  'Krokorok': 'Ground',
  'Krookodile': 'Ground',
  'Darumaka': 'Fire',
  'Darmanitan': 'Fire',
  'Maractus': 'Grass',
  'Dwebble': 'Bug',
  'Crustle': 'Bug',
  'Scraggy': 'Dark',
  'Scrafty': 'Dark',
  'Sigilyph': 'Psychic',
  'Yamask': 'Ghost',
  'Cofagrigus': 'Ghost',
  'Tirtouga': 'Water',
  'Carracosta': 'Water',
  'Archen': 'Rock',
  'Archeops': 'Rock',
  'Trubbish': 'Poison',
  'Garbodor': 'Poison',
  'Zorua': 'Dark',
  'Zoroark': 'Dark',
  'Minccino': 'Normal',
  'Cinccino': 'Normal',
  'Gothita': 'Psychic',
  'Gothorita': 'Psychic',
  'Gothitelle': 'Psychic',
  'Solosis': 'Psychic',
  'Duosion': 'Psychic',
  'Reuniclus': 'Psychic',
  'Ducklett': 'Water',
  'Swanna': 'Water',
  'Vanillite': 'Ice',
  'Vanillish': 'Ice',
  'Vanilluxe': 'Ice',
  'Deerling': 'Normal',
  'Sawsbuck': 'Normal',
  'Emolga': 'Electric',
  'Karrablast': 'Bug',
  'Escavalier': 'Bug',
  'Foongus': 'Grass',
  'Amoonguss': 'Grass',
  'Frillish': 'Water',
  'Jellicent': 'Water',
  'Alomomola': 'Water',
  'Joltik': 'Bug',
  'Galvantula': 'Bug',
  'Ferroseed': 'Grass',
  'Ferrothorn': 'Grass',
  'Klink': 'Steel',
  'Klang': 'Steel',
  'Klinklang': 'Steel',
  'Tynamo': 'Electric',
  'Eelektrik': 'Electric',
  'Eelektross': 'Electric',
  'Elgyem': 'Psychic',
  'Beheeyem': 'Psychic',
  'Litwick': 'Ghost',
  'Lampent': 'Ghost',
  'Chandelure': 'Ghost',
  'Axew': 'Dragon',
  'Fraxure': 'Dragon',
  'Haxorus': 'Dragon',
  'Cubchoo': 'Ice',
  'Beartic': 'Ice',
  'Cryogonal': 'Ice',
  'Shelmet': 'Bug',
  'Accelgor': 'Bug',
  'Stunfisk': 'Ground',
  'Mienfoo': 'Fighting',
  'Mienshao': 'Fighting',
  'Druddigon': 'Dragon',
  'Golett': 'Ground',
  'Golurk': 'Ground',
  'Pawniard': 'Dark',
  'Bisharp': 'Dark',
  'Bouffalant': 'Normal',
  'Rufflet': 'Normal',
  'Braviary': 'Normal',
  'Vullaby': 'Dark',
  'Mandibuzz': 'Dark',
  'Heatmor': 'Fire',
  'Durant': 'Bug',
  'Deino': 'Dark',
  'Zweilous': 'Dark',
  'Hydreigon': 'Dark',
  'Larvesta': 'Bug',
  'Volcarona': 'Bug',
  'Cobalion': 'Steel',
  'Terrakion': 'Rock',
  'Virizion': 'Grass',
  'Tornadus': 'Flying',
  'Thundurus': 'Electric',
  'Reshiram': 'Dragon',
  'Zekrom': 'Dragon',
  'Landorus': 'Ground',
  'Kyurem': 'Dragon',
  'Keldeo': 'Water',
  'Meloetta': 'Normal',
  'Genesect': 'Bug',
  'Chespin': 'Grass',
  'Quilladin': 'Grass',
  'Chesnaught': 'Grass',
  'Fennekin': 'Fire',
  'Braixen': 'Fire',
  'Delphox': 'Fire',
  'Froakie': 'Water',
  'Frogadier': 'Water',
  'Greninja': 'Water',
  'Bunnelby': 'Normal',
  'Diggersby': 'Normal',
  'Fletchling': 'Normal',
  'Fletchinder': 'Fire',
  'Talonflame': 'Fire',
  'Scatterbug': 'Bug',
  'Spewpa': 'Bug',
  'Vivillon': 'Bug',
  'Litleo': 'Fire',
  'Pyroar': 'Fire',
  'Flabébé': 'Fairy',
  'Floette': 'Fairy',
  'Florges': 'Fairy',
  'Skiddo': 'Grass',
  'Gogoat': 'Grass',
  'Pancham': 'Fighting',
  'Pangoro': 'Fighting',
  'Furfrou': 'Normal',
  'Espurr': 'Psychic',
  'Meowstic': 'Psychic',
  'Honedge': 'Steel',
  'Doublade': 'Steel',
  'Aegislash': 'Steel',
  'Spritzee': 'Fairy',
  'Aromatisse': 'Fairy',
  'Swirlix': 'Fairy',
  'Slurpuff': 'Fairy',
  'Inkay': 'Dark',
  'Malamar': 'Dark',
  'Binacle': 'Rock',
  'Barbaracle': 'Rock',
  'Skrelp': 'Poison',
  'Dragalge': 'Poison',
  'Clauncher': 'Water',
  'Clawitzer': 'Water',
  'Helioptile': 'Electric',
  'Heliolisk': 'Electric',
  'Tyrunt': 'Rock',
  'Tyrantrum': 'Rock',
  'Amaura': 'Rock',
  'Aurorus': 'Rock',
  'Sylveon': 'Fairy',
  'Hawlucha': 'Fighting',
  'Dedenne': 'Electric',
  'Carbink': 'Rock',
  'Goomy': 'Dragon',
  'Sliggoo': 'Dragon',
  'Goodra': 'Dragon',
  'Klefki': 'Steel',
  'Phantump': 'Ghost',
  'Trevenant': 'Ghost',
  'Pumpkaboo': 'Ghost',
  'Gourgeist': 'Ghost',
  'Bergmite': 'Ice',
  'Avalugg': 'Ice',
  'Noibat': 'Flying',
  'Noivern': 'Flying',
  'Xerneas': 'Fairy',
  'Yveltal': 'Dark',
  'Zygarde': 'Dragon',
  'Diancie': 'Rock',
  'Hoopa': 'Psychic',
  'Volcanion': 'Fire'}}

In [267]:
pokemon_names.map(pokemon_types)

0         Grass
1         Grass
2         Grass
3          Fire
4          Fire
5          Fire
6         Water
7         Water
8         Water
9           Bug
10          Bug
11          Bug
12          Bug
13          Bug
14          Bug
15       Normal
16       Normal
17       Normal
18       Normal
19       Normal
20       Normal
21       Normal
22       Poison
23       Poison
24     Electric
25     Electric
26       Ground
27       Ground
28       Poison
29       Poison
         ...
691       Water
692       Water
693    Electric
694    Electric
695        Rock
696        Rock
697        Rock
698        Rock
699       Fairy
700    Fighting
701    Electric
702        Rock
703      Dragon
704      Dragon
705      Dragon
706       Steel
707       Ghost
708       Ghost
709       Ghost
710       Ghost
711         Ice
712         Ice
713      Flying
714      Flying
715       Fairy
716        Dark
717      Dragon
718        Rock
719     Psychic
720        Fire
Name: Pokemon, dtype: object